*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image:url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.content{
    height: 88%;
    width: 100%;
}
.margin{
    margin-top: 150px;
}
.margin h1{
    font-size: 70px;
}
.img1{
    height: 520px;
    width: 370px;
    margin-left: 100px;
}
/* about */
.imgFrame{
    height: 380px;
    width: 350px;
    position: relative;
}
.imgFrame img{
    width: 350px;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
}
.abouth{
    font-size: 65px;
}
/* Footer */
.footer-logo{
    width: 40px;
    height: 40px;
}
.footer-link ul{
    display: flex;
    list-style: none;
}
.footer-link ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
/* service */
.sevice-logo{
    width: 40px;
    height: 40px;
}
.section1{
    border: 1px solid #C5112F;
    position: relative;
}
.section1 a{
    text-decoration: none;
    font-size: 1rem;
    color: red;
    font-weight: bold;
}
.heading-service{
    color: #212529;
    font-weight: normal;
}
.service-bg{
    width: 80px;
    height: 60px;
    background-color: orangered;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-right-radius: 50%;
}
.serivce-content{
    position: relative;
}
.bgskyblue-bg{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    background-color:skyblue;
    border: 3px solid white;
    border-radius: 50%;
}
.bgskyblue-bg1{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right:0;
    background-color:skyblue;
    border: 3px solid white;
    border-radius: 50%;
}
.bgskyblue{
    background-color: skyblue;
    padding: 150px 50px;
}
.bgskyblue h1{
    font-size: 60px;
}
/* Responsive */
@media screen and (max-width:992px) {
    header{
        height: auto;
    }
    .content{
        height: auto;
    }
    .margin{
        margin-top: 150px;
    }
    .margin h1{
        font-size: 40px;
    }
    .margin{
        margin-top: 100px;
    }
    .img1{
        display: none;
    }
    .imgFrame{
        width: 100%;
    }
    .imgFrame img{
        width: 100%;
        border-top-left-radius: unset;
    }
    .abouth{
        font-size: 35px;
    }
    .footer-link ul li a{
        padding: 10px 0;
    }
    .footer-link ul{
        flex-direction: column;
    }
    .service-heading{
       font-size: 35px;
    }
    .bgskyblue h1{
        font-size: 30px;
    }
    .bgskyblue{
        background-color: skyblue;
        padding: 100px 10px;
    }
    .bgskyblue-bg1{
        display: none;
    }
    .bgskyblue-bg{
        display: none;
    }
}